<ul class="comments-group" >
  <button class="accordion" (click)="onClick()">{{commentsGroup.CommentGroupName}}</button>
  <div *ngIf="isOpen">
    <li class="comments-group-item comments-group-item-expanded" *ngFor="let comment of commentsGroup.comments"  >
      <app-comment-data [comment]="comment" ></app-comment-data>
    </li>
  </div>
  <div *ngIf="!isOpen">
    <li class="comments-group-item comments-group-item-collapsed" *ngFor="let comment of commentsGroup.comments"  >
      <app-comment-data [comment]="comment" ></app-comment-data>
    </li>
  </div>
</ul>
