<div class="commentPanel">
<div class="comments-header panel-header">
  <div class="row">
    <div class="column">
      <div class="dropdown">
        <div class="panel-title">Comments</div>
      </div>
      <div class="column">
        <button class="btn btn-clear btn-icon btn-sm"></button>
        <button class="btn btn-close"></button>
      </div>
    </div>
  </div>
</div>
<div class="comment-creation">
  <textarea class="h360-input" placeholder="Compose"></textarea>
</div>
<app-comments-list></app-comments-list>
</div>
