* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #444;
  font-family: "Roboto",sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 1.42857;
  position: relative;
}

ul {
  list-style:none;
}
.row {
  letter-spacing: -0.35em;
  line-height: 0;
  text-align: justify;
  width: auto;
}

.column {
  display: inline-block;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  vertical-align: middle;
  word-spacing: normal;
}

.dropdown {
  display: inline-block;
  position: relative;
}
/* Buttons general */
.btn.btn-sm.btn-icon, .btn-group.btn-sm.btn-icon > .btn {
  width: 25px;
}

.btn.btn-sm, .btn-group.btn-sm > .btn {
  font-size: 12px;
  height: 25px;
  line-height: 17px;
  padding: 3px 6px;
}

.btn.btn-icon, .btn-group.btn-icon > .btn {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 30px;
}

.btn-clear, .btn-group.btn-clear > .btn {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #2c7fc0;
}

.btn {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0.5px 0.5px 0 0 #fff inset, 1px 1px 0 rgba(0, 0, 0, 0.03);
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 1.42857143;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.7);
  touch-action: manipulation;
  transition: background 0.2s ease-in 0s, box-shadow 0.2s ease-in 0s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;
}
.btn-close {
  background-color: transparent;
  border-color: transparent;
  box-shadow: 0.5px 0.5px 0 0 #fff inset, 1px 1px 0 rgba(0, 0, 0, 0.03);
  color: #7a7a7a;
  height: 26px;
  padding: 0;
  position: absolute;
  right: 11px;
  top: 15px;
  transition: color 0.2s ease 0.1s, background-color 0.2s ease-in 0s;
  width: 26px;
}
/* Comments List */
.comments-list {
  height: 800px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}
.comments-group {
  transition: background 250ms;
  padding: 2px;
  background: lightgray;
  margin: 10px 0;
}

.comments-group-item {
  font-weight: 300;
  vertical-align: top;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  overflow-y:auto;
}

.comments-group-item-expanded {
  max-height: calc(100vh - 100px);
  padding: 1px 2px 1px 2px;
}

.comments-group-item-collapsed {
  max-height: 0;
  padding: 0;
}

.comment-body {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.comment {

  line-height: 1.42857;
  padding: 1px 3px 1px 3px;
}

.comment-time {
  color: #1976d2;
  padding: 1px 3px 5px 3px;
}

.comment-participants {
  color: #1976d2;
  padding: 1px 3px 5px 3px;
}

button.accordion {
  background-color: #eee;
  font-weight: 300;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

.panel-header {
  background-image: linear-gradient(to bottom, #fff 0px, #f6f6f6 5%, #f3f3f3 95%, #efefef 100%);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.05) inset;
  color: #333;
  padding: 3.5px;
}

.panel-title {
  color: #777;
  display: inline-block;
  font-family: "Roboto Slab",sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  padding-left: 3px;
  text-overflow: ellipsis;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}

.comment-header {
  padding: 3px;
}
.commentPanel { overflow-x: hidden; overflow-y: auto; /*transition: height 0.3s ease 0s;*/ }
.comment-panel .comment-creation {
  background-color: #fdfdfd;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 0 1px;
  padding: 5px;
}

/*Input text area*/
.comment-panel textarea {
  height: 35px;
  margin-bottom: 5px;
  line-height: 1.4;
}

textarea.h360-input {
  height: auto;
  resize: vertical;
}
textarea {
  overflow: auto;
}

textarea {
  font-family: monospace;
  border-color: rgb(169, 169, 169);
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  flex-direction: column;
  resize: vertical;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 2px;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0 0 0 0;
  font: 13.3333px Arial;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}
